*.o
.dirstamp
.deps
.libs

Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
stamp-h1

/_config.hh.ac
/_config.hh
/doc/html/
/doc/latex/
.Tpo
*.i
/test/array_iterator
*.trs
/test-driver

/GPATH
/GRTAGS
/GTAGS

/fofi/libfofi.a
/utils/libutils.a
/splash/libsplash.a
/xpdf/libxpdf.a

/xpdf/pdfdetach
/xpdf/pdffonts
/xpdf/pdfimages
/xpdf/pdfinfo
/xpdf/pdftohtml
/xpdf/pdftopng
/xpdf/pdftoppm
/xpdf/pdftops
/xpdf/pdftotext
/xpdf/xpdf3
/xpdf/xpdf4
/test/box_rotate
/test/box_segment
/test/asciihex_filter
