*.o
.deps
.libs

Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
fofi/libfofi.a
goo/libgoo.a
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
splash/libsplash.a
stamp-h1

/_config.hh.ac
/_config.hh
/xpdf/pdfdetach
/xpdf/pdffonts
/xpdf/pdfimages
/xpdf/pdfinfo
/xpdf/pdftohtml
/xpdf/pdftopng
/xpdf/pdftoppm
/xpdf/pdftops
/xpdf/pdftotext
/xpdf/xpdf
